/* line 2, ../sass/main.scss */
* {
  margin: 0;
}

/* line 5, ../sass/main.scss */
body {
  background: #000;
}

/* line 8, ../sass/main.scss */
.bar {
  margin: 4% auto;
  height: 20px;
  width: 40%;
  position: relative;
  background: #555;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
}
/* line 16, ../sass/main.scss */
.bar span {
  display: block;
  height: 100%;
  width: 50%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #2bc253;
  background-image: -webkit-linear-gradient(top, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden;
}
/* line 30, ../sass/main.scss */
.bar span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  overflow: hidden;
  -webkit-background-size: 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
}

/* line 53, ../sass/main.scss */
.bar-cil {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  background: transparent;
  margin: 0 auto;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  box-shadow: 0 0 50px #2187e7;
  padding: 10px;
  -webkit-animation: run1 .9s linear infinite;
  -moz-animation: run1 .9s linear infinite;
  -o-animation: run1 .9s linear infinite;
}

/* line 68, ../sass/main.scss */
.bars-cil {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -120px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: transparent;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  box-shadow: 0 0 30px #2187e7;
  -webkit-animation: run2 .9s linear infinite;
  -moz-animation: run2 .9s linear infinite;
  -o-animation: run2 .9s linear infinite;
}

/* line 85, ../sass/main.scss */
.bar-circle {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  background: transparent;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  padding: 10px;
  box-shadow: 0 0 50px #2187e7;
  -webkit-animation: bar-cir .9s linear infinite;
  -moz-animation: bar-cir .9s linear infinite;
  -o-animation: bar-cir .9s linear infinite;
}

/* line 100, ../sass/main.scss */
.bars-circle {
  width: 80px;
  height: 80px;
  margin: 0px auto;
  border: 9px solid rgba(0, 183, 229, 0.9);
  border-top: 9px solid rgba(0, 0, 0, 0);
  border-bottom: 9px solid rgba(0, 0, 0, 0);
  background: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0 0 30px #2187e7;
  position: relative;
  top: -136px;
  -webkit-animation: bars-cir .9s linear infinite;
  -moz-animation: bars-cir .9s linear infinite;
  -o-animation: bars-cir .9s linear infinite;
}

/* line 117, ../sass/main.scss */
.in-blo {
  width: 150px;
  height: 25px;
  margin: 0 auto;
}
/* line 121, ../sass/main.scss */
.in-blo .blo {
  width: 15px;
  height: 15px;
  background-color: #2187e7;
  display: inline-block;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-image: webkit-linear-gradient(top, #2187e7 25%, #5aacf9);
  -webkit-animation: blo 1s linear infinite;
  -moz-animation: blo 1s linear infinite;
  -o-animation: blo 1s linear infinite;
}
/* line 139, ../sass/main.scss */
.in-blo #blo-1 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
}
/* line 144, ../sass/main.scss */
.in-blo #blo-2 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
}
/* line 149, ../sass/main.scss */
.in-blo #blo-3 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
}
/* line 154, ../sass/main.scss */
.in-blo #blo-4 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
}
/* line 159, ../sass/main.scss */
.in-blo #blo-5 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
}
/* line 164, ../sass/main.scss */
.in-blo ul#progress {
  list-style: none;
  width: 200px;
  margin: 50px auto;
  padding: 20px;
}
/* line 169, ../sass/main.scss */
.in-blo ul#progress li {
  display: inline-block;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background: transparent;
  border-top: 1px solid #111;
  border-left: 1px solid #111;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}
/* line 179, ../sass/main.scss */
.in-blo ul#progress li .ball {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #2187e7;
  background-image: -webkit-linear-gradient(top, #2187e7 25%, #5aacf9);
  -webkit-transform: scale(0);
  -webkit-animation: loading .5s linear forwards;
}
/* line 192, ../sass/main.scss */
.in-blo ul#progress li .pulse {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #00c6ff;
  box-shadow: 0 0 5px #00c6ff;
  position: relative;
  top: -16px;
  left: -1px;
  -webkit-transform: scale(0);
  -webkit-animation: pulse .5s ease-out;
}
/* line 205, ../sass/main.scss */
.in-blo ul#progress li #layer1 {
  -webkit-animation-delay: .5s;
}
/* line 208, ../sass/main.scss */
.in-blo ul#progress li #layer2 {
  -webkit-animation-delay: 1s;
}
/* line 211, ../sass/main.scss */
.in-blo ul#progress li #layer3 {
  -webkit-animation-delay: 1.5s;
}
/* line 214, ../sass/main.scss */
.in-blo ul#progress li #layer4 {
  -webkit-animation-delay: 2s;
}
/* line 217, ../sass/main.scss */
.in-blo ul#progress li #layer5 {
  -webkit-animation-delay: 2.5s;
}
/* line 220, ../sass/main.scss */
.in-blo ul#progress li #layer6 {
  -webkit-animation-delay: 1s;
}
/* line 223, ../sass/main.scss */
.in-blo ul#progress li #layer7 {
  -webkit-animation-delay: 1.5s;
}
/* line 226, ../sass/main.scss */
.in-blo ul#progress li #layer8 {
  -webkit-animation-delay: 2s;
}
/* line 229, ../sass/main.scss */
.in-blo ul#progress li #layer9 {
  -webkit-animation-delay: 2.5s;
}
/* line 232, ../sass/main.scss */
.in-blo ul#progress li #layer10 {
  -webkit-animation-delay: 3s;
}

/* line 239, ../sass/main.scss */
.login-l {
  width: 100%;
  height: 5px;
  margin: 90px 0;
  background-color: transparent;
  box-shadow: 1px 1px 5px 2px #333 inset;
}
/* line 245, ../sass/main.scss */
.login-l p {
  height: 5px;
  margin: 5px 0;
  background: #2187e7;
  box-shadow: 0px 0px 5px 2px rgba(0, 198, 255, 0.7);
  -webkit-animation: go 2s ease-out;
}

/* line 254, ../sass/main.scss */
.face {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
/* line 258, ../sass/main.scss */
.face .facebo {
  width: 20px;
  height: 50px;
  background: #99aaca;
  border: 1px solid #96a6c9;
  display: inline-block;
  -webkit-transform: scale(0.5);
  -webkit-animation: face  1s infinite;
}
/* line 267, ../sass/main.scss */
.face #facebo1 {
  -webkit-animation-delay: .1s;
}
/* line 270, ../sass/main.scss */
.face #facebo2 {
  -webkit-animation-delay: .2s;
}
/* line 273, ../sass/main.scss */
.face #facebo3 {
  -webkit-animation-delay: .3s;
}

/* line 278, ../sass/main.scss */
.wei {
  height: 200px;
  width: 250px;
  margin: 50px auto;
}
/* line 282, ../sass/main.scss */
.wei .wei-in {
  height: 60px;
  width: 20px;
  display: inline-block;
  background: transparent;
  -moz-border-radius-topleft: 50px;
  -webkit-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -moz-border-radius-topright: 50px;
  -webkit-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-animation: wei .8s linear infinite;
}
/* line 291, ../sass/main.scss */
.wei #wei-in1 {
  position: relative;
  left: 110px;
  top: 20px;
  -webkit-animation-delay: .36s;
}
/* line 297, ../sass/main.scss */
.wei #wei-in2 {
  position: relative;
  left: 121px;
  top: 36px;
  -webkit-transform: rotate(45deg);
  -webkit-animation-delay: .48s;
}
/* line 304, ../sass/main.scss */
.wei #wei-in3 {
  position: relative;
  left: 109px;
  top: 75px;
  -webkit-transform: rotate(90deg);
  -webkit-animation-delay: .6s;
}
/* line 311, ../sass/main.scss */
.wei #wei-in4 {
  position: relative;
  left: 65px;
  top: 114px;
  -webkit-transform: rotate(135deg);
  -webkit-animation-delay: .72s;
}
/* line 318, ../sass/main.scss */
.wei #wei-in5 {
  position: relative;
  left: -2px;
  top: 130px;
  -webkit-transform: rotate(180deg);
  -webkit-animation-delay: .84s;
}
/* line 325, ../sass/main.scss */
.wei #wei-in6 {
  position: relative;
  left: -68px;
  top: 114px;
  -webkit-transform: rotate(225deg);
  -webkit-animation-delay: .96s;
}
/* line 332, ../sass/main.scss */
.wei #wei-in7 {
  position: relative;
  left: -112px;
  top: 75px;
  -webkit-transform: rotate(270deg);
  -webkit-animation-delay: 1.08s;
}
/* line 339, ../sass/main.scss */
.wei #wei-in8 {
  position: relative;
  left: -125px;
  top: 36px;
  -webkit-transform: rotate(315deg);
  -webkit-animation-delay: 1.2s;
}

/* line 348, ../sass/main.scss */
.load {
  margin-bottom: 100px;
  position: relative;
  width: 181px;
  height: 181px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}
/* line 356, ../sass/main.scss */
.load img:nth-of-type(1) {
  width: 181px;
  height: 181px;
  position: absolute;
  z-index: 1;
}
/* line 362, ../sass/main.scss */
.load .waves {
  width: 181px;
  height: 380px;
  background: url(../img/waves.png);
  position: absolute;
  top: -180px;
  z-index: 2;
  -webkit-animation: wave_left  2s  linear  infinite;
}
/* line 372, ../sass/main.scss */
.load img:nth-of-type(2) {
  position: absolute;
  z-index: 3;
}

@-webkit-keyframes wave_up {
  /* line 378, ../sass/main.scss */
  0% {
    background-position: 0 0;
  }

  /* line 381, ../sass/main.scss */
  100% {
    background-position: 0 -170px;
  }
}

@-webkit-keyframes wave_left {
  /* line 386, ../sass/main.scss */
  0% {
    background-position: top right;
  }

  /* line 389, ../sass/main.scss */
  100% {
    background-position: top  left;
  }
}

@-webkit-keyframes run1 {
  /* line 395, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 398, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes run1 {
  /* line 403, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 406, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes run1 {
  /* line 411, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 414, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes run2 {
  /* line 419, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 422, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes run2 {
  /* line 427, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 430, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-o-keyframes run2 {
  /* line 435, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 438, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@-webkit-keyframes move {
  /* line 444, ../sass/main.scss */
  0% {
    background-position: 0 0;
  }

  /* line 447, ../sass/main.scss */
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes move {
  /* line 452, ../sass/main.scss */
  0% {
    background-position: 0 0;
  }

  /* line 455, ../sass/main.scss */
  100% {
    background-position: 50px 50px;
  }
}

@-o-keyframes move {
  /* line 460, ../sass/main.scss */
  0% {
    background-position: 0 0;
  }

  /* line 463, ../sass/main.scss */
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bars-cir {
  /* line 470, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 473, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes bars-cir {
  /* line 478, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 481, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes bars-cir {
  /* line 486, ../sass/main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 489, ../sass/main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bar-cir {
  /* line 494, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
  }

  /* line 498, ../sass/main.scss */
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  /* line 502, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-300deg);
    opacity: 0;
  }
}

@-moz-keyframes bar-cir {
  /* line 508, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
  }

  /* line 512, ../sass/main.scss */
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  /* line 516, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-300deg);
    opacity: 0;
  }
}

@-o-keyframes bar-cir {
  /* line 522, ../sass/main.scss */
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
  }

  /* line 526, ../sass/main.scss */
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  /* line 530, ../sass/main.scss */
  100% {
    -webkit-transform: rotate(-300deg);
    opacity: 0;
  }
}

@-webkit-keyframes blo {
  /* line 538, ../sass/main.scss */
  0% {
    opacity: 1;
    transform: scale(4);
  }

  /* line 542, ../sass/main.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blo {
  /* line 547, ../sass/main.scss */
  0% {
    opacity: 1;
    transform: scale(4);
  }

  /* line 551, ../sass/main.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes blo {
  /* line 556, ../sass/main.scss */
  0% {
    opacity: 1;
    transform: scale(4);
  }

  /* line 560, ../sass/main.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  /* line 566, ../sass/main.scss */
  0% {
    -webkit-transform: scale(0);
  }

  /* line 569, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes pulse {
  /* line 574, ../sass/main.scss */
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  /* line 578, ../sass/main.scss */
  10% {
    -webkit-transform: scale(1);
    opacity: .5;
  }

  /* line 582, ../sass/main.scss */
  50% {
    -webkit-transform: scale(1.75);
    opacity: 0;
  }

  /* line 586, ../sass/main.scss */
  100% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes go {
  /* line 593, ../sass/main.scss */
  0% {
    width: 0%;
  }

  /* line 596, ../sass/main.scss */
  100% {
    width: 100%;
  }
}

@-webkit-keyframes face {
  /* line 602, ../sass/main.scss */
  0% {
    -webkit-transform: scale(0.6);
    background-color: #bac5db;
  }

  /* line 606, ../sass/main.scss */
  40% {
    -webkit-transform: scale(1);
    background-color: #c6ccda;
  }

  /* line 610, ../sass/main.scss */
  100% {
    -webkit-transform: scale(0.5);
  }
}

@-webkit-keyframes wei {
  /* line 616, ../sass/main.scss */
  0% {
    background: #2187e7;
  }

  /* line 619, ../sass/main.scss */
  100% {
    background: transparent;
  }
}
